In [1]:
import pandas as pd
import numpy as np

In [9]:
# Salaries1.csv 파일을 dataframe으로 읽으시오
df = pd.read_csv('./data/Salaries1.csv')
df.head(2)

,Unnamed: 0,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN

In [10]:
# BasePay의 평균은 얼마인가?
df['BasePay'].mean()

75601.13714620461

In [11]:
# OverTimepay의 최대값은 ?
df['OvertimePay'].max()

245131.88

In [18]:
df.max()

Unnamed: 0                  49999
Id                          50000
EmployeeName           Zuri Jones
JobTitle              ZOO CURATOR
BasePay                  302578.0
OvertimePay             245131.88
OtherPay                400184.25
Benefits                 84681.82
TotalPay                567595.43
TotalPayBenefits        567595.43
Year                         2012
Notes                         NaN
Agency              San Francisco
Status                        NaN
dtype: object

In [17]:
df['OvertimePay'].apply(max)  # element wise operation

TypeError: 'float' object is not iterable

In [19]:
df.apply(max)

Unnamed: 0                  49999
Id                          50000
EmployeeName           Zuri Jones
JobTitle              ZOO CURATOR
BasePay                  302578.0
OvertimePay             245131.88
OtherPay                400184.25
Benefits                      NaN
TotalPay                567595.43
TotalPayBenefits        567595.43
Year                         2012
Notes                         NaN
Agency              San Francisco
Status                        NaN
dtype: object

In [25]:
# 'JOSEPH DRISCOLL'의 JOB TITLE은?
df[df['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [29]:
# TotalPayBeneift의 최고금액을 수령하는 사람의 이름은?
df.sort_values('TotalPayBenefits', ascending=False).iloc[0]['EmployeeName']

'NATHANIEL FORD'

In [32]:
df[df['TotalPayBenefits'] == df['TotalPayBenefits'].max()]

,Unnamed: 0,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

In [33]:
df.head(1)

,Unnamed: 0,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

In [35]:
# BasePay의 연도별 평균금액은?
df.groupby("Year")['BasePay'].mean()

Year
2011     63595.956517
2012    106964.140280
Name: BasePay, dtype: float64

In [38]:
# JobTitle에서 가장 많은 Job 상위 5개?
df['JobTitle'].value_counts().iloc[:5]

TRANSIT OPERATOR    2388
SPECIAL NURSE       1402
REGISTERED NURSE    1219
Registered Nurse    1003
CUSTODIAN            796
Name: JobTitle, dtype: int64

In [44]:
# 2011년도에 오직 한 사람만이 수행하는 job의 갯수는?
sum(df[df['Year'] == 2011]['JobTitle'].value_counts() == 1)

200

In [60]:
# 'Chief'라는 직업을 가진 사람의 수?

jobtitle  = df['JobTitle'].apply(lambda x: x.lower()) 

total = 0
for t in jobtitle:
    if 'chief' in t:
        total += 1
total

318

In [61]:
sum(df['JobTitle'].apply(lambda x: x.lower()).str.contains('chief'))

318