In [1]:
import pandas as pd
import numpy as np

In [6]:
weather = pd.read_csv('./data/seoul_weather.csv', encoding='cp949', skiprows=11)
weather.head(2)

   \t\t지점번호 지점명          일시  평균기온(℃)  최고기온(℃) \t최고기온시각  최저기온(℃) 최저기온시각
0       108  서울  1907-10-01     13.5     20.7      NaN      7.9    NaN
1       108  서울  1907-10-02     16.2     22.0      NaN      7.9    NaN

In [ ]:
# 역대 최고기온인 날의 날짜는?
# 일교차가 가장 큰 월은 언제인가?
# 월교차가 가장 큰 월은?