In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('./data/seoul_weather.csv', encoding='cp949', skiprows=11)
df.head(2)

   \t\t지점번호 지점명          일시  평균기온(℃)  최고기온(℃) \t최고기온시각  최저기온(℃) 최저기온시각
0       108  서울  1907-10-01     13.5     20.7      NaN      7.9    NaN
1       108  서울  1907-10-02     16.2     22.0      NaN      7.9    NaN

In [5]:
# 역대 최고기온인 날의 날짜는?
# 일교차가 가장 큰 월은 언제인가?
# 월교차(월간 온도 분산)가 가장 큰 년도는?

In [ ]:
df.drop(['\t\t지점번호','지점명', '최저기온시각'], axis=1, inplace=True)

In [ ]:
df.drop('\t최고기온시각', axis=1, inplace=True)
df

In [12]:
df.columns = ['일시','평온','고온','저온']
df.head()

           일시    평온    고온    저온
0  1907-10-01  13.5  20.7   7.9
1  1907-10-02  16.2  22.0   7.9
2  1907-10-03  16.2  21.3  13.1
3  1907-10-04  16.5  22.0  11.2
4  1907-10-05  17.6  25.4  10.9

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40488 entries, 0 to 40487
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   일시      40488 non-null  object
 1   평온      39732 non-null  float64
 2   고온      39730 non-null  float64
 3   저온      39731 non-null  float64
dtypes: float64(3), object(1)
memory usage: 1.2+ MB

In [17]:
# 역대 최고기온인 날의 날짜는?
df.sort_values('고온', ascending=False).iloc[0]#['일시']

일시    2018-08-01
평온          33.6
고온          39.6
저온          27.8
Name: 40051, dtype: object

In [23]:
# 일교차가 가장 큰 월은 언제인가?
df['일교차'] = df['고온'] - df['저온']

In [35]:
df['월'] = df['일시'].apply(lambda x: x.split('-')[1])

In [43]:
df.groupby('월')['일교차'].mean().sort_values(ascending=False).iloc[:1]

월
10    10.909529
Name: 일교차, dtype: float64

In [49]:
df

               일시    평온    고온    저온   일교차   월     년
0      1907-10-01  13.5  20.7   7.9  12.8  10  1907
1      1907-10-02  16.2  22.0   7.9  14.1  10  1907
2      1907-10-03  16.2  21.3  13.1   8.2  10  1907
3      1907-10-04  16.5  22.0  11.2  10.8  10  1907
4      1907-10-05  17.6  25.4  10.9  14.5  10  1907
...           ...   ...   ...   ...   ...  ..   ...
40483  2019-10-07  14.8  17.9  13.3   4.6  10  2019
40484  2019-10-08  14.7  19.8  10.6   9.2  10  2019
40485  2019-10-09  13.6  20.4   7.7  12.7  10  2019
40486  2019-10-10  15.2  19.8  10.7   9.1  10  2019
40487  2019-10-11  18.8  26.1  13.0  13.1  10  2019

[40488 rows x 7 columns]

In [53]:
# df.sort_values('일교차', ascending=False).iloc[:1]

In [44]:
# 월교차(월간 온도 분산)가 가장 큰 년도는?

In [57]:
df['년'] = df['일시'].apply(lambda x: x.split('-')[0])
df.groupby(['년','월'])['평온'].mean().unstack().std(axis=1).sort_values(ascending=False).iloc[:1]

년
1917    12.088418
dtype: float64