In [1]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv('Ecommerce Purchases')
df.head(2)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73

In [10]:
# 고객들의 평균 구매금액은 ?
df['Purchase Price'].mean()

50.34730200000025

In [ ]:
# 최고구매금액과 최소구매금액은 ?
print(df['Purchase Price'].min())
print(df['Purchase Price'].max())

In [15]:
# 영어권 사용자의 구매금액의 평균?
df[df['Language'] == 'en']['Purchase Price'].mean()

51.103014571949

In [17]:
# 'Job'이 'Lawyer'인 사람의 숫자?
sum(df['Job'] == 'Lawyer')

30

In [20]:
# Lot이 '90 WT'인 곳에서 구매한 사람의 구매금액은?
df[df['Lot'] == '90 WT']['Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

In [35]:
# 카드회사가 'American Express'이고, 구매금액이 $95 이상인 고객의 수는?
len(df[(df['CC Provider'] == 'American Express') & (df['Purchase Price'] >= 95)])

39

In [21]:
df.head(2)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73

In [34]:
# card 만료일이 2025년도인 카드를 소지한 구매자의 수?
sum(df['CC Exp Date'].apply(lambda x: x[-2:]) == '25')

1033